body{
    text-align: center;
    
}
#Ph{
    height:479px;
    width:340px;
    vertical-align: middle;
}
#Harry{
    height:479px;
    width:340px;
    vertical-align: middle;
    
}
